<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/lilliansdanceplanet"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/danceplanet_mumbai"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCrXBdEoc4vuY2OCllDn7VQw"><i class="fa fa-youtube"></i></a>
    <a href="https://wa.me/9820358260"><i class="fa fa-whatsapp"></i></a>
  </div>
  <div class="footer-copyright">
    Dance Planet
  </div>
</div>
