<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Dance planet teaches you to <strong>dance and enjoy</strong>!</h1>
    <p>Change your life and learn to set the floor on fire whenever you dance.</p>
    <a class="btn btn-flat" href="https://docs.google.com/forms/d/e/1FAIpQLSfAlQhnhovdqy8JSmZzp0MyTm4_zAwF_vQa4N71R201jE2_sg/viewform?usp=sf_link">Make an inquiry!</a>
  </div>
</div>
